# For reservation in g5k
execo >= 2.6.4

# creating command interfaces
docopt

# to expose the api
flask

# enoslib for running ansible smoothly
-e git+https://github.com/BeyondTheClouds/enoslib.git@master#egg=Enoslib
